<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ book.title }}</mat-card-title>
    <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ book.imgUrl }}" alt="Photo of a Book">
  <mat-card-content>
    <p>
        {{ book.desc }}
    </p>
    <p>Price: {{ book.price }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button type="button" class="btn btn-outline-secondary" [disabled]="book.numPrice >= 20">Buy Now</button>
  </mat-card-actions>
</mat-card>